upstream api_upstream {
  server unix://${API_SOCK_PATH} fail_timeout=0;
}

server {
  server_name ${API_DOMAIN};
  include '/etc/nginx/snippets/acme_challenge.conf';
}

server {
  include '/etc/nginx/snippets/rails_app.conf';
  include '/etc/nginx/snippets/https.conf';

  server_name ${API_DOMAIN};
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  root ${API_ASSETS_PATH};

  location @app {
    include '/etc/nginx/snippets/proxy.conf';
    proxy_pass http://api_upstream;
  }
}
