server {
  server_name ${PGADMIN_DOMAIN};
  include '/etc/nginx/snippets/acme_challenge.conf';
  include '/etc/nginx/snippets/redirect_to_https.conf';
}

server {
  server_name ${PGADMIN_DOMAIN};

  include '/etc/nginx/snippets/https.conf';

  auth_basic 'yavende_production';
  auth_basic_user_file /etc/nginx/conf/htpasswd;

  location / {
    include '/etc/nginx/snippets/proxy.conf';
    proxy_pass ${PGADMIN_HOST};
  }
}
